#Encabezado{
    text-align: center;
}
#ImagenLogo{
    display: flex;
    align-items: flex-start;
}
#Index{
    text-align: center;
    display: flex;
}
#Index a{
    margin-top: 20px;
}

.menu{
    margin-left: 200px;
    display: flex;
    justify-content: center;
}

.menu a{
    
    margin-left: 10px;

}
.opiniones{
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.opiniones div {
    margin-left: 20px;
    border: black 1px solid ;
    display: flex;
    align-items: center;
    text-align: center;
}